<template>
<v-card
    class="box"
    :class="[name.gender === 'boy' ? 'boy' : 'girl']"
    height="500px"
    width="400px"
    raised>
    <div class="yesno" v-show="active && conf > 0.5">
        <span v-if="yes" class="yes stamp" >Ja</span>
        <span v-else class="no stamp">Nej</span>
    </div>
    <v-container fill-height fluid>
        <v-layout row wrap>
            <v-flex xs12>
                <div class="name">
                    {{ name.name }}
                </div>
            </v-flex>
            <v-flex xs12>
                <div v-if="active" class="chart">
                    <popularity :data="name.popularity" :color="name.gender"/>
                </div>
                <div v-for="listname of relatedNames" :key="listname.name">
                    <v-btn @click="clickRelation(listname)">{{ listname.name }}</v-btn>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script lang="ts">
import Vue from 'vue';
import Popularity from './Popularity.vue';
import nameService,{ IListName } from '@/services/name-service';
export default Vue.extend({
    props: {
        name: Object,
        conf: Number,
        active: Boolean,
        yes: Boolean,
    },
    data() {
        return {
            relatedNames: [] as IListName[],
        };
    },
    components: { Popularity },
    methods: {
        clickRelation(name: IListName) {
            this.$emit('add', name);
        },
    },
    watch: {
        active: {
            immediate: true,
            handler(newval: boolean) {
                if (newval && this.relatedNames.length === 0) {
                    this.relatedNames = nameService.getRelatedNames(this.name);
                }
            },
        },
    },
});
</script>

<style lang="postcss" scoped>
.box {
  left: calc(50% - 200px);
  position: absolute;
  top: calc(50% - 200px);
}

.boy {
  background-color: lightblue;
}

.girl {
  background-color: pink;
}

.name {
  font-size: 72px;
  width: 100%;
  height: 75px;
  text-align: center;
}

.chart {
    width: 100%;
    height: 50%;
}

.yes {
  color: green;
  box-shadow:inset 0px 0px 0px 10px green;
  right: 80px;
  transform: rotate(40deg);
}

.no {
  color: red;
  box-shadow:inset 0px 0px 0px 10px red;
  left: 85px;
  transform: rotate(-40deg);
}

.stamp {
  position: absolute;
  display: inline-block;
  padding: 15px;
  font-size: 65px;
  top: 30px;
  opacity: 0.4;
  z-index: 10;
}

.stamp:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

</style>
