<template>
  <v-container fluid>
    <template v-if="state === 'match'" >
      <p>Nu skall du ansluta dig till en annan person</p>
    </template>

    <template v-else-if="state === 'newRelation'" >
      <v-container fill height>
        <v-flex xs12 text-xs-center>
          Väntar på att någon skall acceptera din inbjudan. Skicka denna länken till någon:

          <p> {{ link }} </p>

          Så snart någon har accepterat skickas du vidare!
          <v-btn color="success" @click="copy(link)">Kopiera till urklipp</v-btn>
        </v-flex>
      </v-container>
    </template>

    <template v-else-if="state === 'joinRelation'" >
      <v-flex xs12 text-xs-center v-if="relatedUser">
        <v-layout row>
          Du kommer koppla dig till
        </v-layout>
        <v-layout row >
          <v-avatar
            size="125"
            class="grey lighten-4"
          >
            <img :src="relatedUser.image" alt="avatar">
          </v-avatar>
        </v-layout>
        <v-layout row>
          {{ relatedUser.name }}
        </v-layout>
        <v-layout row>
          <v-btn color="success" @click="acceptInvite()">Okej</v-btn>
        </v-layout>
      </v-flex>
    </template>

    <template v-else-if="state === 'result'" >
      <v-flex xs12 text-xs-center>
      <p>En relation har skapats med {{ relatedUser.name }}</p>

      <p> Nu kan ni börja leta namn tillsammans </p>
      <v-container v-if="relatedUser.image != null && user.image != null" align-center="">
          <v-avatar size="125" class="grey lighten-4">
            <img :src="relatedUser.image" alt="avatar-related">
          </v-avatar>
          <v-avatar size="125" class="grey lighten-4">
            <img :src="user.image" alt="avatar">
          </v-avatar>
      </v-container>
      <v-btn color="success" @click="startNameFinding()">Sätt igång!</v-btn>
      </v-flex>
    </template>
  </v-container>
</template>

<script lang='ts'>
import Vue from 'vue';
import { IUser, IRelation } from '../../models/user';
import EventBus from '../../services/EventBus';
import * as clipboard from 'clipboard-polyfill';
import * as firebase from 'firebase';
import * as moment from 'moment';

export default Vue.extend({
  data() {
    return {
      loading: false,
      state: 'match',
      link: '',
      relationId: '',
      relation: null as IRelation | any,
      relatedUser: null as IUser | any,
      db: firebase.firestore(),
    };
  },
  computed: {
    user(): IUser {
      return this.$store.state.user;
    },
    userId(): string {
      return this.$store.state.userId;
    },
  },
  async mounted() {
    if (this.$route.query.relationId) {
      this.relationId = this.$route.query.relationId.toString();
    }

    if (this.relationId !== '') {
      this.relation = (await this.db.collection('relations').doc(this.relationId).get()).data();

      if (this.relation.complete) {
        this.awaitRelationCompleted();
      } else {
        const relatedUserRef = (await this.db.collection('users').doc(this.relation.users[0]).get());

        if (relatedUserRef.id === this.userId) {
          EventBus.emit('message', { type: 'error', message: 'Du kan inte koppla dig till dig själv!' });
          this.state = 'newRelation';
          await this.setupRelation();
        } else {
          this.relatedUser = relatedUserRef.data();
        }
      }
    } else {
      this.state = 'newRelation';
      await this.setupRelation();
    }
  },
  methods: {
    async setupRelation() {
      if (this.user.relation == null) {
        this.relation = {
          complete: false,
          users: [this.userId],
          matches: {},
        };

        const newRelation = await this.db.collection('relations').add(this.relation);
        this.relationId = newRelation.id;

        await this.db.collection('users').doc(this.userId).update({ relation: this.relationId });
      } else {
        const relation = await this.db.collection('relations').doc(this.user.relation).get();
        this.relationId = this.user.relation;
        this.relation = relation.data();

        if (this.relation.complete) {
          this.startNameFinding();
        }
      }

      this.link = window.location.host + '/#/login?relationId=' + this.relationId;

      // Ask user to give link to someone
      // check if relation is setup
      this.awaitRelationCompleted();
    },
    awaitRelationCompleted() {
      const uid = firebase.auth().currentUser!.uid;
      this.db.collection('relations')
        .doc(this.relationId).onSnapshot({ includeMetadataChanges: true }, async (snap) => {
          // User has accepted the invite?
          if (snap.exists) {
            if (snap!.data()!.complete) {
              // relation success!
              const youAndSomeone = snap!.data()!.users as any[];
              let someone;
              for (const user of youAndSomeone) {
                if (user !== uid) {
                  someone = user;
                }
              }

              if (someone == null) {
                throw Error('Something horrible has happened');
              }

              // Show the matched user
              const related = await this.db.collection('users').doc(someone).get();
              this.relatedUser = related.data();
              this.state = 'result';
            }
        }
      });
    },
    async acceptInvite() {
      this.relation.complete = true;
      this.relation.users.push(this.userId);

      await this.db.collection('users').doc(this.userId).update({ relation: this.relationId });
      await this.db.collection('relations').doc(this.relationId).update(this.relation);

      this.awaitRelationCompleted();
    },
    startNameFinding() {
      this.$router.push('match');
    },
    copy(text: string) {
      clipboard.writeText(text);
      EventBus.emit('message', { type: 'info', message: 'Kopierat!' });
    },
  },
});
// How to get relation by relation:
// let newrelation = await this.db.collection('relations')
//   .where('users.' + this.authUser!.uid, '==', true)
//   .get();

// console.log("again", newrelation.docs[0].data());
</script>

