<template>
  <v-container fluid>
    <template v-if="state === 'login'" >
      <v-slide-x-transition>
        <v-container fill height>
          <v-layout row wrap align-center>
            <v-flex xs2></v-flex>
            <v-flex text-xs-center xs8>
              <p>Logga in för att använda applikationen.</p>
              <p>Facebook / Google används bara för att logga in, ingen data behövs eller kommer hämtas på ditt konto.</p>
            </v-flex>
            <v-flex xs2></v-flex>
            <v-flex xs12 text-xs-center>
              <v-btn dark color="blue darken-1" @click="signIn('facebook')">Logga in med facebook</v-btn>
              <v-btn dark color="red darken-1" @click="signIn('google')">Logga in med google</v-btn>
            </v-flex>
          </v-layout>
        </v-container>
      </v-slide-x-transition>
    </template>

    <template v-else-if="state === 'newUser'" >
      <v-container fill height>
        <v-flex xs12 md6 text-xs-center>
          <v-layout row>
            <v-avatar
              size="125"
              class="grey lighten-4"
            >
              <img :src="user.image" alt="avatar">
            </v-avatar>
          </v-layout>
          <v-layout row text-xs-center mt-5>
            <p>Välkommen, vad vill du heta?</p>
          </v-layout>
        </v-flex>
        <v-flex xs12 md6 text-xs-center>
          <v-layout row>
            <v-text-field
              label="Namn"
              :rules="[(v) => v.length <= 25 || 'Max 25 tecken', (v) => v.length == 0 || 'Du måste heta något']"
              :counter="25"
              v-model="user.name"
            ></v-text-field>
          </v-layout>
          <v-layout row mt-5>
            <p>Nästa steg är att koppla dig till den personen du vill leta namn med!</p>
          </v-layout>
          <v-btn color="primary" @click="saveUser()">Nästa</v-btn>
        </v-flex>
      </v-container>
    </template>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import axios from 'axios';
import * as firebase from 'firebase';
import * as moment from 'moment';

export default Vue.extend({
  data() {
    return {
      user: null as any,
      authUser: null as firebase.User | null,
      loading: false,
      state: 'login',
      db: firebase.firestore(),
    };
  },
  async mounted() {
    if (firebase.auth().currentUser != null) {
      await this.getOrCreateUser();
    }
  },
  methods: {
    async signIn(provider: string) {
      firebase.auth().languageCode = 'sv_SE';

      let authProvider = null as any;
      if (firebase.auth().currentUser == null) {
        if (provider === 'facebook') {
          authProvider = new firebase.auth.FacebookAuthProvider();
        } else if (provider === 'google') {
          authProvider = new firebase.auth.GoogleAuthProvider();
        }

        await firebase.auth().signInWithRedirect(authProvider);
      }
      await this.getOrCreateUser();
    },
    async getOrCreateUser() {
      this.authUser = firebase.auth().currentUser;
      const data = await this.db.collection('users').doc(this.authUser!.uid).get();
      if (data.exists) {
        this.user = data.data() as any;
        this.$emit('user-ready', this.user);
      } else {
        this.user = {
          email: this.authUser!.email,
          image: this.tryGetImage(this.authUser),
          name: this.authUser!.displayName!.split(' ')[0],
        };

        this.state = 'newUser';
      }
    },
    tryGetImage(user: any): string | undefined {
      try {
        if (user.providerData[0].providerId === 'facebook.com') {
          return user.providerData[0].photoURL + '?type=large';
        } else {
          return user.photoURL;
        }
      } catch {
        return undefined;
      }
    },
    async saveUser() {
      await this.db.collection('users').doc(this.authUser!.uid).set(this.user);
      this.$store.commit('login', { user: this.user });
    },
  },
});
</script>

