<template>
  <v-container fluid>
    <find-match v-if="$store.state.user"/>
    <login v-else/>
  </v-container>
</template>

<script lang='ts'>
import Login from './Login.vue';
import FindMatch from './FindMatch.vue';
import Vue from 'vue';
import * as firebase from 'firebase';

export default Vue.extend({
  data() {
    return {
      user: null as any,
      relation: null as any,
    };
  },
  components: { Login, FindMatch },
});
// How to get relation by relation:
// let newrelation = await this.db.collection('relations')
//   .where('users.' + this.authUser!.uid, '==', true)
//   .get();

// console.log("again", newrelation.docs[0].data());
</script>
