<template>
  <v-card>
    <v-card-title>
    Namn
    <v-spacer></v-spacer>
    <v-text-field
      v-model="search"
      append-icon="search"
      label="Sök"
      single-line
      hide-details
      clearable
      @change="searchChanged"
    ></v-text-field>
  </v-card-title>
  <v-data-table
    :headers="headers"
    :items="names"
    :loading="loading"
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
      <td><v-text-field solo flat single-line v-model="props.item.data().name" @change="(val) => nameChanged(props.item.id, val)" /></td>
      <td><v-checkbox class="gender-box" v-model="props.item.data().female" @change="(val) => femaleChanged(props.item.id, val)"  /></td>
      <td><v-checkbox class="gender-box" v-model="props.item.data().male" @change="(val) => maleChanged(props.item.id, val)" /></td>
      <td />
    </template>
    <template slot="footer">
      <td><v-text-field solo flat single-line label="Nytt namn" v-model="newName.name" @change="(val) => nameChanged(props.item.id, val)" /></td>
      <td><v-checkbox class="gender-box" v-model="newName.female" @change="(val) => femaleChanged(props.item.id, val)"  /></td>
      <td><v-checkbox class="gender-box" v-model="newName.male" @change="(val) => maleChanged(props.item.id, val)" /></td>
      <td><v-btn color="primary" @click="addName" :disabled="loading">Lägg till</v-btn></td>
    </template>
  </v-data-table>
  </v-card>
</template>

<style lang="postcss" scoped>
.v-input {
  height: 48px;
}
.gender-box {
  top: 12px;
  position: relative;
}
</style>


<script lang="ts">
import Vue from 'vue';
import * as firebase from 'firebase';
import { IRelation, IName } from '@/models/user';
export default Vue.extend({

  data() {
    return {
      loading: true,
      names: [] as any[],
      db: firebase.firestore(),
      pagination: {},
      newName: {} as IName,
      search: '',
      headers: [
        {
          text: 'Namn',
          align: 'left',
          sortable: false,
          value: 'name',
        },
        { text: 'Tjej', value: 'female', sortable: false, align: 'left' },
        { text: 'Kille', value: 'male', sortable: false, align: 'left' },
        { text: '', sortable: false, align: 'right' },
      ],
    };
  },
  methods: {
    nameChanged(id: string, name: string) {
      this.db.collection('names').doc(id).update({ name });
    },
    femaleChanged(id: string, female: boolean) {
      this.db.collection('names').doc(id).update({ female });
    },
    maleChanged(id: string, male: boolean) {
      this.db.collection('names').doc(id).update({ male });
    },
    async searchChanged(newSearch?: string) {
      this.loading = true;
      this.names = [];
      if (newSearch == null || newSearch === '') {
        const names = await this.db.collection('names').limit(25).get();
        names.forEach(n => {
          this.names.push(n);
        });
      } else {
        const names = await this.db.collection('names')
          .where('name', '==', newSearch)
          .limit(25).get();
        names.forEach(n => {
          this.names.push(n);
        });
      }

      this.loading = false;
    },
    async addName() {
      this.loading = true;
      await this.db.collection('names').doc(this.newName.name).set(this.newName);
      this.names.push(await this.db.collection('names').doc(this.newName.name).get());
      this.newName = {} as IName;
      this.loading = false;
    },
  },
  async mounted() {
    await this.searchChanged();
  },
});
</script>
