<template>
  <v-container class="swipe-app">
    <v-layout row class="swipe-area">
      <vue-swing
        @throwout="onThrowout"
        @dragmove="onMove"

        ref="vueswing"
        :config="swingConf"
      >
        <name-card v-for="listname of names" :key="listname.name"
          :active="name===listname.name"
          :name="listname"
          :yes="yes"
          :conf="conf"
          @add="add" />
      </vue-swing>
    </v-layout>
    <v-layout row class="bottom-area">
      <v-flex xs6>
        <v-btn color="error" @click="swipeNo" :disabled="loading">
          Nej
        </v-btn>
      </v-flex>
      <v-flex xs6>
        <v-btn color="success" @click="swipeYes" :disabled="loading">
          Ja
        </v-btn>
      </v-flex>
    </v-layout>

    <p> Some toolbar {{ name }} </p>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import * as firebase from 'firebase';
import { IRelation, IUser } from '@/models/user';
import VueSwing from 'vue-swing';
import Component from 'vue-class-component';
import nameService,{ IListName } from '@/services/name-service';
import NameCard from '../names/NameCard.vue';

export default Vue.extend({

  data() {
    return {
      loading: false,
      swiping: false,
      names: [] as IListName[],
      yes: false,
      conf: 0,
      db: firebase.firestore(),
      name: '',
      swingConf: {
        allowedDirections: [ VueSwing.Direction.LEFT, VueSwing.Direction.RIGHT],
        minThrowOutDistance: 125,
        maxThrowOutDistance: 300,
        throwOutConfidence: (evt: any): number => {
          if (Math.abs(evt) < 150) {
            return Math.abs(evt) / 150;
          }
          return 1;
        },
      },
    };
  },
  created() {
    this.loadMoreNames();
  },
  methods: {
    async handleYes(name: string) {
        console.log('yes', name);

        // console.log("like: " + this.name);
        const ref = this.db.collection('relations').doc(this.$store.state.user.relation);
        const relation = (await ref.get()).data() as IRelation;

        if (relation.matches[name] === true) {
          // console.log("This name is already matched");
        } else if (relation.matches[name] === false) {
          // console.log("This name should now be matched by both parties");
          relation.matches[name] = true;
        } else {
          relation.matches[name] = false;
        }

        // await ref.update({ matches: relation.matches });
    },
    async handleNo(name: string) {
        console.log('no', name);
    },
    swipeYes() {
      this.loading = true;
      const card = (this.$refs.vueswing as any).cards[this.names.length - 1];
      card.throwOut(150, 0);
    },
    swipeNo() {
      this.loading = true;
      const card = (this.$refs.vueswing as any).cards[this.names.length - 1];
      card.throwOut(-150, 0);
    },
    async onThrowout({ throwDirection }: { throwDirection: any}) {
      this.conf = 0;
      this.loading = true;
      const handleName = this.name;
      this.names.pop();
      this.name = this.names[this.names.length-1].name;
      if(this.names.length < 2) {
        this.loadMoreNames();
      }

      if (throwDirection === VueSwing.Direction.RIGHT) {
        await this.handleYes(handleName);
      } else if (throwDirection === VueSwing.Direction.LEFT) {
        await this.handleNo(handleName);
      }

      this.loading = false;
    },
    onMove(evt: any) {
      this.conf = evt.throwOutConfidence;
      this.yes = evt.offset > 0;
    },
    add(name: IListName) {
      const idx = this.names.indexOf(name);
      if (idx >= 0) {
        this.names.splice(idx, 1);
      }

      this.names.push(name);
      this.name = name.name;
    },
    loadMoreNames() {
      if (this.names.length === 0) {
        for (let i = 0; i < 10; i++) {
          this.names[i] = nameService.getName('any', this.names.map(n => n.name));
          this.name = this.names[i].name;
        }
      } else {
        for (let i = 0; i < 10; i++) {
          const name = nameService.getName('any', this.names.map(n => n.name));
          this.names.push(name);
          this.name = name.name;
        }
      }
    },
  },
  components: {
    VueSwing, NameCard,
  },
});
</script>

<style lang="postcss" scoped>
.swipe-app {
  width:100%;
  height: 100%;
}
.swipe-area {
  width: 100%;
  height: calc(100% - 100px);
}

.bottom-area {
  height: 100px;
}
</style>

