<template>
  <v-container>
    <v-flex v-if="matches.length === 0">
      Du har inte matchat några namn ännu...
    </v-flex>
    <v-flex v-else>
      <p v-for="name in matches" :key="name">
        {{name}}
      </p>
    </v-flex>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import * as firebase from 'firebase';
import { IRelation } from '@/models/user';
export default Vue.extend({

  data() {
    return {
      loading: false,
      observer: null as any,
      matches: [] as string[],
      db: firebase.firestore(),
    };
  },
  mounted() {
    const relationId = this.$store.state.user.relation;
    this.observer = this.db.collection('relations')
      .doc(relationId).onSnapshot({ includeMetadataChanges: true }, async (snap) => {
      const relation = snap.data() as IRelation;
      this.matches = [];
      if (relation.matches) {
        for (const name of Object.keys(relation.matches)) {
          if (relation.matches[name]) {
            this.matches.push(name);
          }
        }
      }
    });
  },
  destroyed() {
    this.observer();
  },
});
</script>
