<template>
  <v-container>
    <section v-if="relation">
        <h3>Ta bort relation</h3>
        <p>Genom att ta bort relationen försvinner all data om matchade namn och dylikt.</p>

        <p>Använd denna om du vill leta efter ett nytt namn eller leta namn med någon annan.</p>
        <v-btn color="warning" @click="deleteRelation">Ta bort relation</v-btn>
    </section>
    <section>
        <h3>Ta bort konto</h3>
        <p>Tar bort all information om matchade namn och din användare</p>

        <v-btn color="error" @click="deleteAccount">Ta bort konto</v-btn>
    </section>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import * as firebase from 'firebase';
import { IRelation } from '@/models/user';
export default Vue.extend({

  data() {
    return {
      relation: null as null | any,
      db: firebase.firestore(),
    };
  },
  async mounted() {
    const relationId = this.$store.state.user.relation;
    if (relationId) {
      this.relation = (await this.db.collection('relations').doc(relationId).get()).data();
    }
  },
  methods: {
    async deleteAccount() {
      await this.deleteRelation();
      await this.db.collection('users').doc(this.$store.state.userId).delete();
      await firebase.auth().currentUser!.delete();
    },
    async deleteRelation() {
      const relationId = this.$store.state.user.relation;
      if (relationId) {
        const relation = (await this.db.collection('relations').doc(relationId).get());
        if (relation.exists) {
          for (const user of relation!.data()!.users) {
            await this.db.collection('users').doc(user).update({ relation: null });
          }

          await this.db.collection('relations').doc(relationId).delete();
        }

      }

      this.relation = null;
    },
  },
});
</script>
