<template>
  <v-container fluid text-xs-center>
    <p> Välkommen till namn appen</p>

    <router-link to="login">Gå till inloggning</router-link>
  </v-container>
</template>

<script lang='ts'>
import Setup from './setup/Setup.vue';
import Vue from 'vue';

export default Vue.extend({
  components: { Setup },
});
</script>
