<template>
  <v-snackbar
    v-if="message"
    :timeout="4000"
    :color="message.type"
    top
    v-model="showMessage"
  >
    <div @click="open" style="width: 100%" class="text-xs-center">
      {{ message.message }}
    </div>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'vue';
import EventBus from '../services/EventBus';
import { RawLocation } from 'vue-router/types/router';

export default Vue.extend({
  data() {
    return {
      message: null as IMessage | null,
      showMessage: false,
    };
  },
  mounted() {
    EventBus.on('message', (message: IMessage) => {
      this.message = message;
      this.showMessage = message != null;
    });
  },
  methods: {
    open() {
      if (this.message != null && this.message.link != null) {
        this.$router.push(this.message.link);
      }
    },
  },
});

export interface IMessage {
  message: string;
  type: 'info' | 'warning' | 'error' | 'success';
  link?: RawLocation;
}
</script>
