<template>
    <v-toolbar
      app
    >
        <v-btn icon>
            <v-icon>web</v-icon>
        </v-btn>
        <v-toolbar-title>Name app</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-menu offset-y v-if="user">
          <v-avatar class="mx-3" slot="activator">
            <img :src="user.image">
          </v-avatar>
          <v-list>
            <v-list-tile ripple @click="$router.push('login')">
              <v-list-tile-title>{{ user.name }}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile ripple @click="$router.push('results')">
              <v-list-tile-title >Matchningar</v-list-tile-title>
            </v-list-tile>
            <v-list-tile ripple @click="$router.push('settings')">
              <v-list-tile-title>Inställningar</v-list-tile-title>
            </v-list-tile>
            <v-list-tile ripple color="error" @click="signOut()">
              <v-list-tile-title>Logga ut</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
    </v-toolbar>
</template>

<script lang='ts'>
import * as firebase from 'firebase';
import { IUser } from '../models/user';
import Vue from 'vue';

export default Vue.extend({
  computed: {
    user(): IUser | any  {
      return this.$store.state.user;
    },
  },
  methods: {
    signOut() {
      firebase.auth().signOut();
    },
  },
});
</script>

