<template>
  <v-app id="app">
    <toolbar/>

    <div v-show="$store.state.loading" class="text-xs-center loader">
      <v-progress-circular
        :size="75"
        color="primary"
        indeterminate
      />
    </div>
    <v-content v-show="$store.state.loading === false">
      <router-view />
    </v-content>

    <message/>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Toolbar from './components/Toolbar.vue';
import Message from './components/Message.vue';

@Component({
  components: {
    Toolbar, Message,
  },
})
export default class App extends Vue {}
</script>

<style>
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
  margin-top: 40vh;
}
</style>
